@model IEnumerable<StudentsMS.Models.SelectCourse>
@* @model StudentsMS.Models.SelectCourse *@
@{
    ViewData["Title"] = "IndexNS";
    Layout = "_LayoutNS";
}

<h1 class="text-center shadow my-3 p-4">選課清單</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-primary">新增課程</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stu.StuID)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dept.DName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CT.CTID)
                </td>
            <td>
@*                 @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
