@model IEnumerable<StudentsMS.Models.Course>

@{
    ViewData["Title"] = "課程資料管理";
    Layout = "_Layout";
}

<h1 class="text-center shadow my-3 p-4">@ViewData["Title"]</h1>

<p class="text-end">
    <a asp-action="Create" class="btn btn-primary">新增課程</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
                <td class="d-flex justify-content-end">
                    <a asp-action="Edit" asp-route-id="@item.CourseID" class="btn btn-primary">編輯</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseID" class="btn btn-success">詳細資料</a> |
                    @* <a asp-action="Delete" asp-route-id="@item.CourseID" class="btn btn-danger">刪除</a> *@
                    <form asp-action="Delete">
                        <input type="hidden" value="@item.CourseID" name="id" />
                        <input type="submit" value="刪除" class="btn btn-danger" onclick="return confirm('你確定要刪除 @item.CName 這筆資料?')" />
                    </form>
            </td>
        </tr>
}
    </tbody>
</table>
