@model IEnumerable<StudentsMS.Models.Curriculum>

@{
    ViewData["Title"] = "系上課程清單";
    Layout = "_LayoutNS";
}

<h1 class="text-center shadow my-3 p-4">@ViewData["Title"]</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dept.DName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CT)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.CTHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <td>
                @Html.DisplayFor(modelItem => item.Dept.DName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Course.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CT.CTID)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.CTHours)
            </td>
            <td>
              @*   @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
